.btn-nav-comment {
  display: flex;
  justify-content: space-between;
}
.btn-nav-comment > button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor:pointer;
}
.form-comment {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.form-comment > textarea {
  flex: 3;
  border: solid 1px black;
  border-radius:10px 0px 0px 10px;
}
.form-comment > textarea::placeholder {
    
}
.form-comment > button {
  flex: 1;
  border-radius:0px 10px 10px 0px;
  cursor:pointer;
}
.commentar.dark {
  color: white;
}
