nav{
  background-color: #D43E2A;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

nav>.navbar-left>img{
  width:80px;
  height:auto;
}
.navbar-right>ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar-right>ul>li:nth-child(1),.navbar-right>ul>li:nth-child(2){
  padding-right:40px;
}
.navbar-right>ul>li>.link{
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size: 14px;
}
.navbar-right>ul>li>.link:hover{
}
.navbar-right>ul>li>select{
  padding: 2px 10px;
  color:white;
  background-color: #D43E2A;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.navbar-right>ul>li>.dropdown>img{
  width:50px;
  height:auto;
  border-radius:50%;
}
.dropdown-content{
  z-index: 1;
  min-width: 100px;
  display: none;
  position: absolute;
  left:-100%;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:5px;
}
.dropdown-content>ul{
  list-style: none;
  display: inline;
}

.dropdown-content>ul>li{
  margin-bottom: 5px;
  text-align:left;
  padding-left:5px;
}
.dropdown-content>ul>li>.link{
  text-decoration: none;
  color:#D43E2A;
  font-weight: bold;
  font-size: 14px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
  nav{
    padding: 0px 22%;
  }
}