.course-checkout-body{
    display: flex;
    justify-content: space-between;
    margin:20px 0px;
    border-radius: 20px;
    overflow: hidden;
}
.course-checkout-body>div:nth-child(1){
    background-color: #D43E2A;
    flex:2;
    border-radius: 10px;
    color:white;
    padding:10px 0px;
}
.course-checkout-body>div:nth-child(1)>div{
    background-color: #D43E2A;
    flex:1.5;
    border-radius: 10px;
}
.course-checkout-body>div:nth-child(2){
    flex:1;
    border-radius: 10px;
    margin-left: 50px;

}

.course-checkout-left>h1{
    text-align: center;
}
.course-checkout-left>h2{
    text-align: left;
    margin-left:10px;
}

.list-checkout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-checkout>div:nth-child(1){
    flex:1;
}
.list-checkout>div:nth-child(2){
    flex:2;
    font-size: 20px;
    text-align:left;
    color:white;
}
.list-checkout>div:nth-child(3){
    flex:1;
    font-size: 20px;
    text-align: center;
}
.list-checkout>div>img{
    width:auto;
    height:80px;
    margin-left:10px;
    border-radius: 10px;
}
.checkout-voucher{
    display: flex;
    justify-content: space-between;
    margin:20px 25px;
}
.checkout-voucher>div:nth-child(1){
    flex:1.5;
}
.checkout-voucher>div:nth-child(2){
    flex:1;
}
.checkout-voucher>div>input{
    width:100%;
    height:40px;
    border-radius: 5px 0px 0px 5px;
    color:#D43E2A;
    padding-left:10px ;
    font-weight: 500;
}
.checkout-voucher>div>input::placeholder{
    color:#D43E2A;
}
.checkout-voucher>div>button{
    width:50%;
    height:40px;
    color:#D43E2A;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size:16px;
    border:solid #D43E2A 2px;
    background-color: #f1f2f6;
    border-radius: 0px 5px 5px 0px;

}
.total-checkout{
    display: flex;
    justify-content: space-between;
    margin:20px 25px;
}
.total-checkout>div:nth-child(1){
    flex:2;
    font-size: 20px;
    color:white;
    font-weight: bold;
}
.total-checkout>div:nth-child(2){
    flex:1;
    font-size: 20px;
    color:white;
    font-weight: bold;
    text-align: end;
}
.course-checkout-body>div:nth-child(2){
    background-color: white;
    flex:1;
}
/* right */
.course-checkout-right{
    position: relative;
}
.course-checkout-right>div:nth-child(1){
    margin-top:10px;
    display: flex;
    justify-content: space-evenly;
}
.course-checkout-right>div:nth-child(2){
    margin:40px 10px 0px 10px;
}

.course-checkout-right>div:nth-child(2)>div:nth-child(1),.course-checkout-right>div:nth-child(2)>div:nth-child(2),.course-checkout-right>div:nth-child(2)>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}
.course-checkout-right>div>button{
    background-color: #D43E2A;
    color:white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding:5px 20px;
}
.course-checkout-right>button{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    background-color: #D43E2A;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border:none;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 16px;
}
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .course-checkout-body{
      padding: 0px 22%;
    }
  }