p,h1,h2,h3,h4,h5,a,button,label,input,label,div{
  font-family: 'Baloo Bhaijaan 2', cursive;
}
body {
  background-color: #f6f8fd;
}

/* Profle-User */
.label-menu-user:hover{
  cursor: pointer;
  color:#DB2828;
}
.br-50 {
  border-radius: 50%;
}

.sidebar-user-left {
  background-color: white;
  border-radius: 20px !important;
  width: 15%;
  height: 90vh;
}
.sidebar-user-right {
  width: 80%;
  background-color: white;
  border-radius: 20px !important;
  border-radius: 20px !important;
  padding: 10px 0px 0px 50px;
}
/* My Class */
button.active{
  background-color: #DB2828 !important;
  color:white;
}
/* Home */
.rating {
  position: absolute !important;
  bottom: 5% !important;
  right:5%;
}
.checked {
  color: orange;
}
.type-course{
  position: absolute !important;
  top: 5% !important;
  right:5%;
  background-color: #282c34;
  padding: 2px 5px;
  border-radius:5px;
  color:white;
  font-weight: bold;
  text-transform: capitalize;
}
.button-list-course{
  background-color: #dfe6e9;
  border: none;
  color: #DB2828;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding:5px 10px ;
  border-radius:5px;
  width:200px;
}
.button-list-course:hover{
  cursor: pointer;
}
/* .button-menu{
  position:absolute !important;
  z-index: 92;
  right:2%;
  top:2%;
}
.menu-course{
  left: -250px;
} */
.card-course {
  position: relative;
}
/* my course */
.rating{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.star{
  display: flex;
  justify-content: left;
}
/* the stars */
.rating-review > label {
  display: inline-block;
  position: relative;
  width: 1.1em;
  width: calc(var(--star-size) / 3 * 1.1em);
  color: black;
}
.rating-review > *:hover,
.rating-review > *:hover ~ label,
.rating-review:not(:hover) > input:checked ~ label {
  color: transparent;
  cursor: inherit;
}
.rating-review > *:hover:before,
.rating-review > *:hover ~ label:before,
.rating-review:not(:hover) > input:checked ~ label:before {
  content: "★";
  position: absolute;
  left: 0;
  color: gold;
}
.rating-review > input {
  position: relative;
  transform: scale(3);
  transform: scale(var(--star-size));
  top: -0.5em;
  top: calc(var(--star-size) / 6 * -1em);
  margin-left: -2.5em;
  margin-left: calc(var(--star-size) / 6 * -5em);
  z-index: 2;
  opacity: 0;
  font-size: initial;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
