.home-benefit {
  display: flex;
  justify-content: space-between;
  transition: 0.4s;
  background-color: rgb(246,248,253);
}
.home-benefit.dark {
  background-color: rgb(24, 24, 24);
  color: white;
  transition: 0.4s;
}
.home-benefit > div {
  flex: 1;
}
.home-benefit > div:nth-child(2) > h1,
.home-benefit > div:nth-child(3) > h1 {
  color: #d43e2a;
}
.home-benefit > div:nth-child(2) > p,
.home-benefit > div:nth-child(3) > p {
  line-height: 1;
  margin: -10px 0px;
}
.home-benefit > div > button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  color: #d43e2a;
  border: 1px solid #d43e2a;
  font-size: 16px;
}
.home-benefit > div > p {
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
  .home-benefit {
    padding: 20px 22%;
  }
}
@media only screen and (max-width: 600px) {
  .home-benefit > div > h1 {
    font-size: 18px;
  }
  .home-benefit > div > p {
    font-size: 14px;
  }
  .home-benefit > div > button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
  }
}
